<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Automation suite">
  <test verbose="2" name="Automation test">
    <classes>
      <class name="stepDefinitions.RunnerCukesTest"/>
    </classes>
  </test> <!-- Default test -->
</suite> <!-- Default suite -->